.dinamic{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');
body {
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #6195bd;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modalCompose{

  z-index: -1
}
#radio-group-label{

  font-size: 15px
}
.radio-button{
  font-size:15 px
}
